<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bowlingcar.bowlingcar">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_car"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_car"
        android:supportsRtl="true"
        android:theme="@style/Theme.FishingGame">
        <activity android:name="com.bowlingcar.bowlingcar.GameFinished"></activity>
        <activity android:name="com.bowlingcar.bowlingcar.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.bowlingcar.bowlingcar.MainActivity"></activity>
    </application>

</manifest>